<!-- This example runs a specific Bluetooth headset. You can replace the mic_name parameter with the value from 
    $ pacmd source-devices 
for the desired sound input device -->
<launch>

  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py">
    <param name="lm" value="$(find pocketsphinx)/demo/voice_cmd.lm"/>
    <param name="dict" value="$(find pocketsphinx)/demo/voice_cmd.dic"/>
    <param name="mic_name" value="bluez_source.00_21_3C_77_AA_17"/>
  </node>

  <node name="voice_cmd_vel" pkg="pocketsphinx" type="voice_cmd_vel.py" output="screen">
    <remap from="cmd_vel" to="cmd_vel_mux/input/teleop"/>
  </node>

</launch>
